body {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    height: 100vh;
}

/*gauche*/
.gauche {
    background-color: rgb(34, 36, 41);
    flex-basis: 12%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: white;
}


.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logos {
    max-width: 80%;
}

.menu ol {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}

.menu ol li {
    text-align: center;
}

.menu ol li a {
    text-decoration: none;
    color: white;
}

/*droite*/
.droit {
    background-image: url(../img/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    flex-grow: 1;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.bloc1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.droit ul {
    margin: 0;
    padding: 0;
}

.droit ul li {
    list-style: none;

}

.droit ul li a {
    text-decoration: none;
    color: white;
}

.droit ul li a:hover {
    text-decoration: underline;
}

.bloc1 h1 {
    font-size: 2rem;
    margin: 0;
    padding: 0;
}

.bloc1 p {
    margin: 0;
    padding: 0;
}

/* POLICE */

a {
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
}



.bloc1{
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
    width: 50%;
}

.bloc1 h2{
    font-family: 'gemunulibre', sans-serif;
    font-size: 5rem;
}

.bloc1 p  {
    font-family: 'open sans', sans-serif;
    font-weight: bold;
    font-size: 3rem;
    margin-top: 0px;
}

.bloc2 a{
    color: white;
    text-decoration: none;
}

.bloc2 li{
    list-style: none;
    margin-bottom: 20px;
}