.card {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .card img {
    max-width: 100%;
    height: auto;
  }
  
  .card h3 {
    margin-top: 10px;
  }
  
  .card p {
    margin: 5px 0;
  }

  .card-item{
    max-width: 400px;

  }

.price p {
    color : green;
    font-size: 65px;
  }
  
hr {
    border: 1px solid #ccc;
    margin: 20px 0;
  
}

  .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;

  }

  @media screen and (max-width: 768px) {
    .container {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media screen and (max-width: 480px) {
    .container {
      grid-template-columns: 1fr;
    }
    
  }